
body.adg3 .aui-button.aui-button-light.done,
body.adg3 .aui-button.aui-button-light.done:hover{
	background-color: #cfc;
	color: #067906;
}

li.file-done a {

}

li.file a.execute {
	padding-left: 24px;
}

li.file.file-added a.execute {
	color: #067906;
}

li.file.file-removed a.execute {
	color: #690000;
}

li.file.file-conflicts a.execute {
	color: #e09610;
	font-weight: 700;
}

li.file.file-conflicts a.execute:after {
	color: #e09610;
	font-weigth: 700;
	font-size: 14px;
	content: "← Fix this before continuing review";
}

.bb-fixer-left li.file.file-conflicts a.execute:after {
	content: "";
}

li.file.file-done a.execute {
	background-image: url(https://d301sr5gafysq2.cloudfront.net/d64cf9ac4cce/css/entry/node_modules/@atlassian/bbui/lib/aui-react/avatar/images/icons/icon-approved.svg);
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: left;
}

.bb-fixer .badge.approved {
	vertical-align: bottom;
	height: 20px;

	width: 16px;
	display: inline-block;
	padding-right:  5px;
}

.bb-fixer-left #pullrequest-diff {
	clear: both;
}

.bb-fixer-left #pullrequest-diff > .main:first-child {
	width: 30%;
	max-width: 750px;
	float: left;

	height: calc(100% - 100px);
}

.bb-fixer-left #pullrequest-diff > .main.fixed:first-child {
	position: fixed;
	top: 0;
}

.bb-fixer-left #pullrequest-diff > .main:first-child h1 {
	border: 0;
}

.bb-fixer-left #pullrequest-diff #compare {
	float: right;
	width: 70%;
}

.bb-fixer-left .commit-file-diff-stats {
	display: none;
}

.bb-fixer-left .commit-files-summary {
	height: 100%;
	overflow: scroll;
}

.bb-fixer-left .commit-files-summary li.iterable-item {
	padding-left: 0;
}